# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Checkout Repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 1  # optional: gets full history (set to 1 if you only need latest commit)
    - name: Build ATF
      if: success()
      run: |
        cd ATF
        dotnet build TestAutomationSpecFlow.sln

